<% include ../partials/header %>

    <div class="container">
        <div class="col-md-3">
            <p class="lead">Placeholder</p>
            <div class="list-group">
                <li class="list-group active">Info 1</li>
                <li class="list-group">Info 2</li>
                <li class="list-group">Info 3</li>
            </div>
        </div>

        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src=" <%= foundPhoto.image %>">
                <div class="caption-full">
                    <h4>
                        <a>
                            <%= foundPhoto.title %>
                        </a>
                    </h4>
                    <p>
                        <%= foundPhoto.description %>
                    </p>
                    <p> <em>Submitted By <%= foundPhoto.author.username %></em></p>
                    <% if (currentUser && foundPhoto.author.id.equals(currentUser._id)) {%>
                        <a class="btn btn-warning" href="/photos/<%= foundPhoto._id %>/edit">Edit</a>
                        <form class="delete-form" action="/photos/<%= foundPhoto._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/photos/<%= foundPhoto._id %>/comments/new">Add a New Comment</a>
                </div>
                <hr>
                <% foundPhoto.comments.forEach((comment) => { %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username%></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if (currentUser && comment.author.id.equals(currentUser._id)) {%>
                                <a class="btn btn-xs btn-warning" href="/photos/<%= foundPhoto._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form class="delete-form" action="/photos/<%= foundPhoto._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                                <% } %>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>